$breakpoint-xl: 1500px;
$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
$breakpoint-xs: 575px;
$breakpoint-xxs: 425px;

$dark-theme: false !default;

$border-10: 10px;
$border-20: 20px;
$color-blue: #4793FF;
$light-blue: #4793FF33;
$light: #FFFFFFFF;
$dark: #000000;
